<p id="notice"><%= notice %></p>

<h1>Account Histories</h1>

<%= link_to 'Accounts', accounts_path %>

<table>
  <thead>
    <tr>
      <th>Patient status</th>
      <th>Account Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_histories.each do |account_history| %>
      <tr>


        <td><%= account_history.patient_status %></td>

        <td><%= account_history.account.account_number %></td>

        <td><%= link_to 'Show', account_history %></td>
        <td><%= link_to 'Edit', edit_account_history_path(account_history) %></td>
        <td><%= link_to 'Destroy', account_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account History', new_account_history_path %>
